<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.projects.seriesnotifier"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/logo2" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".Notifier"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".SearchSeries" android:label="@string/search_series"> </activity>
        
        <activity android:name=".OwnSeries" android:label="@string/own_series"></activity>
        
        <activity android:name=".OwnSeriesClean" android:label="@string/own_series"></activity>
        
        <activity android:name=".Settings" android:label="@string/settings"> </activity>
        
        <activity android:name=".NewEpisodes" android:label="@string/new_episode"> </activity>
        
        <activity android:name=".NewSerie" android:label="@string/newserie"> </activity>
        
        <activity android:name=".NewSearch" android:label="@string/new_search"></activity>       

    	<activity android:name="SerieInfo"></activity>
    	
    	<service android:name="com.projects.services.CheckUpdates" android:exported="false"></service>
    	
	</application>
	
    <uses-sdk android:minSdkVersion="3" />
    
    <uses-permission xmlns:android="http://schemas.android.com/apk/res/android"
    	 android:name="android.permission.INTERNET">
	</uses-permission>
	
    

</manifest> 